body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #5a9c90;
    text-align: center;
    padding: 50px 0;
  }
  
  .features {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px 0;
  }
  
  .feature {
    flex: 1;
    text-align: center;
    padding: 20px;
    border: 1px solid #768577;
    border-radius: 5px;
    margin: 0 10px;
  }
  
  footer {
    background-color: #398643;
    color: #671e1e;
    text-align: center;
    padding: 20px 0;
  }